@mixin flexbox($direction: column, $expand: true) {
    display: flex;
    flex-direction: $direction;

    @if ($expand) {
        flex: 1;
    }
}

@mixin shadow() {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
}
